{extends "/layout.html"}
{block "content"}
<div class="panel panel-default">
    <div class="panel-heading">
        Oldal szerkesztése
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="#" role="form">
                    <input name="page[id]" type="hidden" value="{$page.id}"/>
                    
                    <div class="form-group">
                        <label>Cím</label>
                        <input name="page[title]" value="{$page.title}" class="form-control">
                    </div>
                    <div class="form-group">
                        {if $page.type == 'page'}
                            {if $html_editor == true}
                                <a href="/admin/pages/edit?id={$page.id}&html_editor=no">Html szerkesztő kikapcsolása</a>
                            {/if}

                            {if $html_editor == false}
                                <a href="/admin/pages/edit?id={$page.id}&html_editor=yes">Html szerkesztő bekapcsolása</a>
                            {/if}
                        {/if}
                        <textarea style="min-height: 350px" name="page[template]" id="trumbowyg" class="form-control" rows="3">{$page['template']}</textarea>
                        
                    </div>
                    <div class="form-group">
                        <label>Típus</label>
                        <select name="page[type]" class="form-control">
                            <option {tif $page.type == "page" ? "selected"} value="page">Oldal</option>
                            <option {tif $page.type == "partial" ? "selected"} value="partial">Részlet</option>
                            <option {tif $page.type == "layout" ? "selected"} value="layout">Kinézet</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Sablon</label>
                        <select name="page[layout_id]" class="form-control">
                            <option {tif $page.layout_id == 0 ? "selected"} value="0">Nincs</option>

                            {foreach $layouts val}
                            <option {tif $page.layout_id == $val.id ? "selected"} value="{$val.id}">{$val.title}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Content tag</label>
                        <input name="page[content_tag]" value="{tif $page.content_tag ?:"content"}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Data Provider</label>
                        <textarea name="page[data_provider]" class="form-control" rows="3">{$page['data_provider']}</textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit Button</button>
                </form>
            </div>
            <!-- /.col-lg-12 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

{/block}

{block "post_script"}
    {if $html_editor == true}
    $('#trumbowyg').trumbowyg({
    resetCss: true,
    autogrow: true
    });
    {/if}
{/block}