{extends "/layout.html"}
{block "content"}

<div class="panel panel-default">
    <div class="panel-heading">
        Oldalak
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>Cím</th>
                            <th>Típus</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $pages val}
                        <tr class="odd gradeX">
                            <td>{$val.title}</td>
                            <td>{$val.type}</td>
                            <td>
                                <a href="/admin/pages/edit?id={$val.id}" class="btn button btn-danger">Szerkesztés</a>
                                {if $val.type == "page"}
                                <a target="_blank" href="/{$val.slug}" class="btn button btn-primary">Megtekint</a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

{/block}

{block "post_script"}
    $('#dataTables').DataTable({
            responsive: true
    });
{/block}