{extends "/layout.html"}
{block "content"}

<div class="panel panel-default">
    <div class="panel-heading">
        Posztok
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>Cím</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $articles val}
                        <tr class="odd gradeX">
                            <td>{$val.title}</td>
                            <td>
                                <a href="/admin/blog/article/edit?id={$val.id}" class="btn button btn-danger">Szerkesztés</a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

{/block}

{block "post_script"}
    $('#dataTables').DataTable({
            responsive: true
    });
{/block}