{extends "/layout.html"}
{block "content"}
<div class="panel panel-default">
    <div class="panel-heading">
        Oldal szerkesztése
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="#" role="form">
                    <input name="article[id]" type="hidden" value="{$article.id}"/>
                    
                    <div class="form-group">
                        <label>Cím</label>
                        <input name="article[title]" value="{$article.title}" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="article[content]" id="trumbowyg" class="form-control" rows="3">{$article['content']}</textarea>
                    </div>

                    <div class="form-group">
                        <label>Kategória</label>
                        <select name="article[category_id]" class="form-control">
                            <option {tif $article.category_id == 0 ? "selected"} value="0">Nincs</option>

                            {foreach $categories val}
                            <option {tif $article.category_id == $val.id ? "selected"} value="{$val.id}">{$val.name}</option>
                            {/foreach}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-default">Submit Button</button>
                </form>
            </div>
            <!-- /.col-lg-12 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

{/block}

{block "post_script"}
    $('#trumbowyg').trumbowyg({
    resetCss: true,
    autogrow: true
    });
{/block}