{extends "/layout.html"}
{block "content"}
<div class="panel panel-default">
    <div class="panel-heading">
        Kategória szerkesztése
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="#" role="form">
                    <input name="category[id]" type="hidden" value="{$category.id}"/>
                    
                    <div class="form-group">
                        <label>Cím</label>
                        <input name="category[name]" value="{$category.name}" class="form-control">
                    </div>


                    <button type="submit" class="btn btn-default">Submit Button</button>
                </form>
            </div>
            <!-- /.col-lg-12 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

{/block}