<a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    <span class="glyphicon glyphicon-chevron-down"></span>
</a>
<div class="nav-collapse collase">
    <ul class="nav navbar-nav">
        {$data = dataProvider('{"service": "SimpleDBData", "method": "fetch", "args": ["page", "id > ?", [0]] }')}
        {foreach $data.rows val}
           {if $val.type == "page"}
              <li><a href="/{$val.slug}">{$val.title}</a></li>
           {/if}
        {/foreach}
    </ul>
    <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
        </li>
    </ul>
</div>