
{$articles = dataProvider('{"service": "BlogProvider", "method": "getPosts", "args": []}')}
<ul>
{foreach $articles article}
<li>Blog Article: <a href="/blog/{$article.slug}">{$article.title}</a></li>
{/foreach}
</ul>
