{extends "/layouts/one-column.html"}
{block "content"}
<h2 style="text-align: center;"><span style="line-height: 1.45em;"><b>Szia!</b></span></h2><div style="text-align: center;">Üdvözöllek a Rusty CMS kezdő példa oldalán!</div>
{/block}