{extends "/layouts/simple-layout.html"}
{block "content"}
Szia, vissza az <a href="http://rusty.bonzoportal.hu/valami-lap" title="el?z?re">előzőre</a><div><span style="line-height: 20.2999992370605px;"><br></span><div><ul>{foreach $data.rows row}<li><span style="line-height: 1.4em; background-color: initial;">{$row.id} - </span><a href="/{$row.slug}" style="line-height: 1.4em;">{$row.title}</a></li>{/foreach}</ul></div></div>
{/block}