{extends "/layout.html"}
{block "content"}
<div class="panel panel-default">

    <div class="panel-heading">
        Telepített kiegészítők
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>Név</th>
                            <th>Leírás</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $plugins val}
                        <tr class="odd gradeX">
                            <td>{$val.name}</td>
                            <td>{$val.description}</td>
                            <td>
                            <a href="/admin/plugin/uninstall/{$val.slug}">Eltávolítás</a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row (nested) -->
    </div>

    <div class="panel-heading">
        Kiegészítő Telepítése
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form enctype="multipart/form-data" method="post" action="#" role="form">

                    <div class="form-group">
                        <label>Zip</label>
                        <input name="file" type="file" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Submit Button</button>
                </form>
            </div>
            <!-- /.col-lg-12 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->

</div>

{/block}

{block "post_script"}
    $('#dataTables').DataTable({
            responsive: true
    });
{/block}