{extends "layout.html"}

{block "content"}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Vezérlőpult</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
    	<div class="col-lg-12">
    	<p>Tartalom</p>
    	</div>
    </div>
{/block}