{extends "/layouts/base.html"}
{block "base_content"}
        <div class="row">
            <div class="col col-sm-12">
                {block "content"}
                {/block}
            </div>
        </div>
{/block}